$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./subtleGlyphiconButtons";

.relational.list {
    .title {
        margin-top: 0;
        display: inline-block;
    }

    .controls {
        float: right;
        a {
            @extend .subtleGlyphiconButtons;
        }
    }

    .item {
        display: inline-block;
        width: 100%;
        padding-top: 15px;
        transition: background-color 0.25s ease-out;
        background-color: transparent;
        &:hover {
            text-decoration: none;
            background-color: $gray-lighter;
        }
    }
} 

