$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./subtleGlyphiconButtons";
.inline-editable {
    position: relative;
    * { white-space: pre-wrap; }

    &, textarea.subtle, .form-group {
        line-height: inherit;
        font-size: inherit;
        text-transform: inherit;
        color: inherit;
        background-color: inherit;
        box-shadow: none;
        display: block;
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        transition: border-width 0.25s ease-out,
                    padding      0.25s ease-out;
        border-left: 0px solid $gray-lighter;
    }

    &.editing {
        border-left: 3px solid $brand-success;
        textarea.subtle, fieldset {
            .row {
                white-space: nowrap;
            }
            padding-left: 3px;
            position: relative;
            legend {
                font-size: 1.1em;
                font-weight: bold;
                margin-bottom: 0.2em;
                color: $gray-light;
            }
        }
        label {
            padding-left: 3px;
            margin-bottom: 0em;
            font-weight: bold;
            font-size: 1em;
            color: $gray-light;
        }
    }
    &.deleting {
        border-left-color: $brand-danger;
    }

    textarea.subtle {
        resize: none;

        &, &:focus {
            outline:0;
        }

        &:not([rows]) {
            min-height: auto;
            max-height: auto;
        }
    }

    .actions {
        position: absolute;
        top: 0rem;
        &.right {
            right: 0rem;
            &:not(.top) {
                right: -2.5rem;
            }
        }
        &:not(.right) {
            left: 0rem;
            &:not(.top) {
                left: -2.5rem;
            }
        }
        padding-left: 3px;
        button {
            @extend .subtleGlyphiconButtons;
        }
        .alert {
            font-weight: bold;
            color: $gray;
            float: left;
            padding: 0;
        }
    }
    dl {
        @extend .dl-horizontal;
    }
}
