$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
.post {
    position: relative;
    h4, .title {
        color: $gray-light;
        text-transform: uppercase;
        margin-bottom: 0.2em;
        font-size: 1.285em;
    }
}
