$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./subtleGlyphiconButtons";

.inline-editable {

    &.top-level {
        padding-left: 12px;
        padding-top: 18px;
        > .actions {
            padding-left: 3px;
        }
    }
    margin-bottom: 0.2em;

    position: relative;
    * { white-space: pre-wrap; }
    &, textarea.subtle, .form-group, > fieldset {
        line-height: inherit;
        font-size: inherit;
        text-transform: inherit;
        color: inherit;
        background-color: inherit;
        box-shadow: none;
        display: block;
        border: none;
        width: 100%;
        border-left: 3px solid transparent;
    }
    textarea.subtle, .form-group, > fieldset {
        padding: 0;
        margin: 0;
    }
    &.editing {
        border-left: 3px solid $brand-success;
        height: 100%;
        textarea.subtle, fieldset, {
            .row {
                white-space: nowrap;
            }
            padding-left: 3px;
            position: relative;
            legend {
                font-size: 1.1em;
                font-weight: bold;
                margin-bottom: 0.2em;
                color: $gray-light;
            }
        }
        label {
            padding-left: 3px;
            margin-bottom: 0em;
            font-weight: bold;
            font-size: 1em;
            color: $gray-light;
        }
    }

    &.deleting {
        border-left-color: $brand-danger;
    }

    textarea.subtle {
        resize: none;

        &, &:focus {
            outline:0;
        }

        &:not([rows]) {
            min-height: auto;
            max-height: auto;
        }
    }

    .actions {
        position: absolute;
        top: 0rem;
        $offset: -18px;
        &.right {
            right: 0rem;
            &:not(.top) {
                right: $offset;
            }
        }
        &:not(.right) {
            left: 0rem;
            &:not(.top) {
                left: $offset;
            }
        }
        button {
            @extend .subtleGlyphiconButtons;
        }
        .alert {
            font-weight: bold;
            color: $gray;
            float: left;
            padding: 0;
        }
    }
    dl {
        @extend .dl-horizontal;
    }
}
